body {
  background-color: black;
  color: white;
}

.nav {
  display: flex;

  justify-content: space-between;
  align-items: center;
  padding: 1.3% 5%;
  font: 120% system-ui;
  background-color: black;
  color: white;
  white-space: nowrap;
}
.nav-link:hover {
  color: #50d5ff;
  font-weight: bold;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
  white-space: nowrap;
}
.nav-link {
  font-size: 18px;
  transition: font-weight 0.5s ease;
}

.nav-btns {
  display: flex;
  justify-content: space-between;
  gap: 5%;
}

.btn {
  /* width: 8.4vw; */
  /* height: 5.5vh; */
  width: 140px;
  height: 40px;
  border-radius: 14px;
  outline: none;
  border: 0;

  font-style: normal;
  line-height: normal;
  font-weight: 500;
  font-size: 15px;
  cursor: pointer;
}
.song-copyright {
  display: flex;
  align-items: end;
  justify-content: center;
  /* position: fixed; */
  flex-shrink: 0;
  /* background-color: red; */
  color: #818181;
}

#login {
  background-color: #50d5ff;
}

.nav-title {
  color: #fff;
  font-size: 25px;
  font-weight: 700;
  letter-spacing: 2px;
}

.cover {
  position: relative;
  width: 100%;
}

.cover-background {
  z-index: -1;
  width: 100%;
}

.cover-images {
  width: 100%;
  height: 100%;
}

.cover-text {
  color: white;
  width: 564px;
  position: relative;
  height: 330px;
  position: absolute;
  top: 360px;
  left: 50px;
  display: flex;
  flex-direction: column;
  align-items: start;
  /* background-color: rgba(0, 0, 0, 0.834); */
  background-color: #0c0c0cd5;
}

.chatbot-header {
  display: flex;
  align-items: center;
  padding: 0 10px;
}

#chatbot-close {
  width: 20px;
  height: 20px;
}

.cover-text h1 {
  font-size: 3rem;
  padding-left: 10%;
  margin-bottom: 0;
}

.highlight {
  color: #50d5ff;
}

.motto {
  font-size: 35px;
  font-weight: 200;
  letter-spacing: 5px;
  margin-top: 3%;
  padding-left: 10%;
  margin-bottom: 0;
  z-index: 0;
}

#explore-btn {
  padding-left: 10%;
  margin-top: 7%;
  z-index: 0;
}

.about-us {
  height: 100vh;
  background-color: black;
  background-image: url("../public/ai-generated-7881509_1280.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 100% 76%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40vh;
}

.about-us-container {
  margin-top: 40vh;
  height: 90vh;
  width: 64vw;
  background-color: rgba(0, 0, 0, 0.834);
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  color: white;
  padding: 2% 4%;
  /* margin-bottom: 50px; */
  /* border: 0.2px solid rgba(255, 255, 255, 0.205); */
}

.about-us-container h1 {
  margin-bottom: 20px;
  font-size: 45px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.about-us-container p {
  font-size: 30px;
  font-style: normal;
  font-weight: 200;
  line-height: normal;
}

.about-us-pics {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  overflow-x: scroll;
  width: 100%;
}

.about-us-pic {
  margin-right: 20px;
  overflow: hidden;
}

.about-us-pic img {
  /* background-color: green; */
  object-fit: cover;
  /* width: 321px; */
  width: 23vw;
  /* height: 230px; */
  height: 20vh;
}

.menu-icon {
  display: none;
}

.drop-down-menu {
  display: none;
}

.blur-background {
  position: relative;
  filter: blur(6px);
  margin: -10px;
  /* background-color: red; */
}

#logo {
  width: 380px;
  height: 80px;
  padding-left: 10%;
  margin-top: 10%;
  /* height: 2vh; */
}

.popup {
  position: absolute;
  top: 10%;
  left: 30%;
  height: 60vh;
  width: 40vw;
  color: white;
  margin-top: 3%;
  border-radius: 14px;
  transform: translate(-50%, -50%);
  background-color: #202024;
  padding: 20px;
  box-shadow: 0 4px 18px rgba(0, 0, 0, 0.632);
  z-index: 1; /* Ensure it's on top of other elements */
}

.signup-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.signup-btns {
  border-radius: 14px;
  outline: none;
  border: 0;

  font-style: normal;
  line-height: normal;
  font-weight: 500;
  cursor: pointer;

  width: 400px;
  height: 50px;
  font-size: 20px;
  display: flex;
  gap: 5%;
  align-items: center;
  justify-content: center;

  margin-top: 30px;
}
.signup-btns:hover {
  background-color: rgb(224, 223, 223);
}

.auth-icon {
  width: 30px;
}

#facebook-btn {
  background-color: #1278f2;
  color: white;
}
#facebook-btn:hover {
  background-color: #1b7ffa;
}

#gmail-btn {
  background-color: #535358;
  color: white;
}

#gmail-btn:hover {
  background-color: rgb(79, 79, 83);
}

.filter-tabs {
  width: 90%;
  /* background-color: #1278f2; */
  height: 10vh;
  margin: 5% 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap; /* Prevent line breaks */
  /* overflow-x: scroll; */
  /* margin-top: 15%; */
  margin-bottom: 3%;
}

.imagine-btns {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3%;
  gap: 3%;
}
#random-prompt-btn {
  background-color: #000000;
  color: white;
  border: 1px solid rgb(99, 99, 99);
}
.gemni-btns {
  margin-top: 4px;
  display: flex;
  gap: 10px;
}

#get-artist-names-btn {
  all: unset;

  background-color: #000000;
  color: white;
  border: 1px solid rgb(99, 99, 99);
  padding: 10px 20px;
  /* width: 150px; */
  border-radius: 14px;
  cursor: pointer;
  font-size: 15px;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  white-space: nowrap;
}

.loading-btn-with-text {
  all: unset;
  background-color: #000000;
  color: white;
  cursor: pointer;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  gap: 10px;

  white-space: nowrap;
}

#get-artist-names-btn:hover {
  border: 1px solid #50d5ff;
}

.chat-circle {
  width: 50px;
  height: 40px;
  cursor: pointer;
  border: 1px solid rgb(99, 99, 99);
  /* border-radius: 50%; */
  border-radius: 14px;

  display: flex;
  align-items: center;
  justify-content: center;
  /* font-size: 25px; */
}
hr {
  width: 100%;
  background-color: rgb(99, 99, 99);
  height: 1px;
  border: none;
}
.typing-effect {
  white-space: pre-wrap;
  display: inline;
  /* white-space: nowrap; */
  /* overflow: hidden; */
  animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
}

.chatbot-title {
  font-size: 20px;
  /* margin-left: 10px; */
}
.chat-input-container {
  display: flex;
}

.filter {
  /* background-color: red; */
  height: 100%;
  width: 24vw;
  margin-right: 10px;
  display: flex;
  align-items: center;
  overflow: hidden;
  position: relative;
  border-radius: 10px;
  cursor: pointer;
}

.filter.clicked {
  border: 1px solid rgb(255, 255, 255);
}

.filter.clicked > .filter-images {
  filter: none;
}

.filter-images {
  object-fit: cover;
  width: 100%;
  height: 100%;
  filter: blur(1px);
}

.filter-images:hover {
  filter: none;
}

.filter-text {
  position: absolute;
  /* left: 40%; */

  font-size: 25px;
  /* font-weight: 500; */
  font-weight: bold !important;
}

.imagine-container {
  display: flex;
  justify-content: space-around;
  align-items: start;
  flex-wrap: wrap;
  /* background-color: #1278f2; */
  width: 90%;
  height: 80vh;
  max-height: 80vh;
  margin: 0 5%;
  margin-top: 3%;
  flex: 1;
}

.prompt-section {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  /* gap:20%; */
  /* background-color: rgb(81, 10, 143); */
  width: 40%;
  margin-top: 5%;
  white-space: nowrap;
}
.image-section {
  margin-top: 3%;
  margin-left: 7%;
  padding-left: 1%;
  padding-top: 1%;
  height: auto;
  height: 70vh;

  width: 45vw;
  /* background-color: #202024; */
}

.generated-img {
  width: 100%;
  height: auto;
}

.imagine-grid {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: auto;
  height: 100%;
}

.imagine-image-container {
  width: 93%;
  height: auto;
  position: relative;
  overflow: hidden;
  max-height: 100%;
  margin-bottom: 10px;
  border-radius: 14px;
  overflow: hidden;
  transition: border-color 0.5s ease, outline-color 0.5s ease;
}

.imagine-image-container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid transparent;
  transition: border-color 0.3s;
  pointer-events: none; /* Prevent interaction with the pseudo-element */
}

.chatbot-container {
  position: fixed;
  bottom: 20px; /* Adjust the bottom spacing */
  left: 20px; /* Adjust the left spacing */
  width: 320px; /* Set a width for the chatbot */
  border: 1px solid rgb(99, 99, 99);
  background-color: #000000;
  border-radius: 8px;
  z-index: 1000; /* Make sure it's above other content */
  display: flex;
  flex-direction: column; /* Stack children vertically */
  height: 45vh; /* Set a height for the chatbot */
  overflow: hidden; /* Prevent container from overflowing */
}

.messages-container {
  position: relative;
  flex: 1; /* Allow the messages container to grow and fill available space */
  overflow-y: auto; /* Enable scrolling for messages */
  padding: 10px; /* Add padding inside the messages container */
  word-wrap: break-word; /* Ensure long words break */
}

.chatbot-message {
  position: relative;
  white-space: pre-wrap; /* Preserve whitespace and wrap text */
  overflow-wrap: break-word; /* Break long words if necessary */
}

#chatbot-input {
  all: unset;
  width: calc(100% - 30px); /* Adjust width to fit within padding */
  background-color: black;
  color: white;
  padding: 10px 10px;
  border-radius: 5px;
  position: relative; /* Position relative to the container */
  bottom: 0;
  display: flex;
  align-items: center;
}
.chat-input-container {
  display: flex;
  align-items: center;
  padding: 0 10px;

  margin-bottom: 15px; /* Add margin to the input field */
}
#send-icon-in-chatbot {
  background-color: black;
  color: white;
  border-radius: 5px;
  position: relative; /* Position relative to the container */
  bottom: 0;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.answer {
  position: relative;
  background-color: #4c4c4c; /* Background color for the question */
  color: white;
  padding: 8px 8px;
  border-radius: 14px;
  max-width: 70%; /* Adjust as needed */
  text-align: left; /* Align text to the right */
  margin-top: 10px;
}

.corner-right-up {
  cursor: pointer;
  position: absolute;
  top: -0.5rem;
  left: 0;
  width: 25px;
  height: 25px;
  border-radius: 14px;
  background-color: white;
  color: rgb(68, 68, 68);
  border-radius: 0.25rem; /* rounded in Tailwind translates to 0.25rem */
  margin: 0;
  z-index: 9999;
}

.corner-right-up::after {
  content: "";
  position: absolute;
  top: 100%; /* top-full in Tailwind translates to 100% */
  left: 50%;
  transform: translateX(-50%);
  height: 0;
  width: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 8px solid black; /* border-b-black in Tailwind translates to borderTop in inline styles */
  transform: translateX(-50%) rotate(180deg); /* rotation */
}

.question {
  background-color: #2b2b2b; /* Background color for the answer */
  padding: 1px 8px;

  border-radius: 14px;
  margin-bottom: 10px;
  margin-top: 10px;

  max-width: 70%; /* Adjust as needed */
  text-align: left; /* Align text to the left */
  margin-left: auto; /* Push to the left side of the container */
}

.icon-fit-container {
  width: 60%;
  height: 70%;
}

.imagine-image {
  width: 100%;
  height: 100%;
  overflow: hidden;
  object-fit: cover;
}

.imagine-image-container:hover {
  border: 1px solid #50d5ff;
}
.customization-options {
  margin-top: 7%;
  width: 36vw;
}

.customization-option {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 5%;
}

#imagine-custome-btns {
  margin-top: 17%;
}

.logout-section {
  display: flex;
  gap: 10px;
  align-items: center;
  height: 30px;
  cursor: pointer;
}

.logout-btn {
  height: 100%;
  width: 30px;
  /* background-color: red; */
}
.logout-btn:hover {
  /* -webkit-transform: scale(1.106);
  -moz-transform: scale(1.106); */
  transform: scale(1.106);
}

.logout-section p {
  padding-top: 0;
}

.profile-tabs {
  display: flex;
  width: 35%;
  margin-bottom: 5px;
  justify-content: space-between;
}

.profile-tab {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  margin-bottom: 7px;
}
.profile-tab img {
  width: 35px;
  height: 33px;
}

.active-tab {
  border-bottom: 7px solid #50d5ff;
  padding: 0 5%;
}

.artwork-detail-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7%;
}
.artwork-detail-btn img {
  width: 25px;
}

textarea {
  width: 100%;
  height: 10vh;
  /* padding: 10px; */
  padding: 1%;
  border: 1px solid #ccc;
  border-radius: 10px;
  resize: vertical; /* Allow vertical resizing */
  font-size: 16px;
  line-height: 1.5;
  margin-top: 5%;
}

/* Change the border color when the textarea is focused */
textarea:focus {
  border-color: #50d5ff;
  outline-color: #50d5ff;
  outline: none;
}
textarea:hover {
  border: 2px solid;
  border-color: #50d5ff;
  outline-color: #50d5ff;
}

#imagine-btn {
  background-color: #50d5ff;
}

.close-btn {
  display: flex;
  justify-content: end;
  width: 100%;
}

.close-btn img {
  width: 25px;
  height: 25px;
  margin-right: 5%;

  margin-top: 3%;
  cursor: pointer;
}

.signup-form {
  width: 70%;
  margin: 0 auto;
  padding: 20px;
  border-radius: 5px;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
  outline-color: #50d5ff;
}

input:focus.with-error {
  outline-color: rgb(248, 92, 92);
}

.error {
  color: rgb(248, 92, 92);
  margin-top: 2%;
}

button[type="submit"] {
  background-color: #50d5ff;
  width: 200px;
}

.my-masonry-grid {
  display: flex;
  flex-wrap: wrap;
  width: auto;
  padding: 2% 7%;
  min-height: 90vh;
}

.my-masonry-grid_column {
  background-clip: padding-box;
}

.image-container {
  width: 100%;
  overflow: hidden;
  position: relative;
}
.image-container:hover {
  filter: brightness(60%);
}

.artwork-image {
  width: 100%;
  height: auto;
  cursor: pointer;
  overflow: hidden;
}

.hover-text {
  position: absolute;
  left: 5%;
  top: 75%;
  color: white;
  transition: filter 0.3s ease;
}
.progress-bg {
  position: relative;
}

.grid-container {
  position: absolute;

  filter: grayscale(40%) blur(5px);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.artwork-detail {
  display: flex;
  align-items: start;
  justify-content: start;
  gap: 3%;
  padding: 5% 0;

  border-radius: 14px;
  flex-wrap: wrap;
}

.artwork-detail-img {
  object-fit: contain;
  margin-left: 90px;
  width: 60%;
}

.artwork-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.artwork-info h1 {
  font-size: 45px;
  font-weight: 800;
  margin-top: 0;
}
.artwork-info p {
  font-style: italic;
  margin-top: 7%;
}

.likes-comments-count {
  display: flex;
  margin-top: 12%;
  gap: 6%;
}

.counter-item {
  background-color: #000000;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6%;
  width: 25%;
  border-radius: 14px;
  padding: 1% 0;
  height: 5vh;
  border: 1px solid rgb(99, 99, 99);
  /* justify-content: space-around; */
}

.counter-item img {
  width: 25px;
}

.counter-item h3 {
  font-weight: 300;
}

.artwork-detail-btns {
  display: flex;
  justify-content: space-between;
  align-items: start;
  margin-top: 5%;
}

#like-btn {
  margin-right: 25px;
  width: 180px;
  height: 5.5vh;
  background-color: #50d5ff;
}
#like-btn:hover {
  background-color: #8ddef7(13, 198, 255);
}

#save-btn {
  height: 5.5vh;
  width: 180px;
}
#save-btn:hover {
  background-color: #ccc;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.profile-image {
  width: 10vw;
  border-radius: 50%;
  border: 1px solid white;
  padding: 5px;
}
.profile-image.comment {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  padding: 0;
  margin-top: 0;
}

button[type="submit"]:hover {
  background-color: #8ddef7;
}

.art-grid-btns {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5%;
  margin-bottom: 20%;
}

.btn:hover {
  background-color: rgb(223, 222, 222);
}
.btn-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7%;
}

#more-btn {
  width: 25px;
}

.contact {
  display: flex;
  align-items: center;
  gap: 10%;
  height: 70vh;
  margin: 10% 7%;
  border: 0.4px solid rgba(162, 160, 160, 0.32);
}

.left-form-image {
  width: 35%;
  height: 100%;
}

.left-form-image img {
  object-fit: cover;
  height: 100%;
}

.form {
  width: 35%;
  height: 85%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.form h1 {
  margin-top: 0;
  font-size: 35px;
}

#contact-input {
  background-color: #000000;
  color: white;
}
#contact-input:hover {
  border: 2px solid;
  border-color: #50d5ff;
  outline-color: #50d5ff;
}

.form textarea {
  margin-top: 0;
}

#send-btn {
  background-color: #50d5ff;
  font-size: 17px;
}

.quote {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.quote p {
  color: #676666;
}

blockquote {
  font-family: Georgia, serif;
  font-style: italic;
  width: 500px;
  margin: 0.25em 0;
  padding: 0.35em 40px;
  line-height: 1.45;
  position: relative;
  color: #676666;
}

blockquote:before {
  display: block;
  padding-left: 10px;
  content: "\201C";
  font-size: 80px;
  position: absolute;
  left: -20px;
  top: -20px;
  color: #7a7a7a;
}

.footer {
  height: 20vh;
  margin-top: 20vh;
  background-color: #202024;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.footer-title {
  font-size: 20px;
  font-weight: 200;
}

.social-media {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.social-media a img {
  width: 25px;
}
.footer p {
  font-weight: 200;
}
.comment {
  width: 100%;
  display: flex;
  align-items: center;
  height: 8vh;
  margin-top: 10%;
  position: relative;
}

.comment-input {
  background-color: #3a3a3a;
  display: flex;
  align-items: center;
  padding: 0 5%;
  height: 100%;
  width: 90%;
  border-radius: 14px;
  border: none;
  outline: none;
  font-size: 20px;
  color: white;
}

.comment-icon {
  position: absolute;
  top: 50%;
  right: 10px; /* Adjust the right position as needed */
  transform: translateY(-50%);
  width: 30px; /* Adjust the width and height as needed */
  height: 30px;
}

.comments {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 6%;
}

.one-comment {
  background-color: #2b2b2b;
  padding-left: 3%;
  padding-top: 3%;
  margin-top: 10px;
  padding-top: 1px;
  height: 8vh;
  border-radius: 14px;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 3%;
}

.one-comment img {
  width: 40px;
}

.username-comment {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.username-comment h4 {
  margin-bottom: 3px;
}
.username-comment h5 {
  margin-top: 0;
  font-weight: 300;
  font-size: 18px;
}

.username-settings {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

#comment-setting {
  margin-right: 25%;
  width: 27px;
}

.comment-editor {
  background-color: #2b2b2b;
  color: white;

  outline: none;
}
#comment-editor {
  border: 0.2px solid #636363;
  width: 10vw;
  height: 10px;
}

.comment-progress-indicator {
  position: absolute;
  right: 10px; /* Adjust the right position as needed */
  transform: translateY(-50%);
}

.activity {
  width: 40%;
}

.activty-item {
  border-radius: 14px;
  height: 25vh;
  display: flex;
  align-items: start;
  justify-content: start;
  margin-bottom: 24px;
  margin-top: 24px;
  border: 0.5px solid rgba(140, 138, 138, 0.675);
  gap: 5%;
}

.activty-item:hover {
  border: 0.5px solid rgba(239, 239, 239, 0.675);
}
.activty-item.comment {
  height: 25vh;
  font-size: 13px;
}

#comment-text {
  font-weight: 800;
  color: white;
  margin-top: 0;
}

.activty-item img {
  width: auto;
  border-top-left-radius: 14px; /* Adjust the radius as needed */
  border-bottom-left-radius: 14px; /* Adjust the radius as needed */
  height: 100%;
  padding: 0;
}

.comment-detail {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
}
.icon-title {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-right: 15px;
  color: white;
}
.icon-title img {
  width: 100%;
  padding: 0 !important;
  margin-right: 10px;
  /* height: 25px; */
}

#hour {
  font-size: 13px;
}

.comment-detail img {
  width: 30px;
  padding: 0 3%;
}

.edit-comment-icon {
  position: relative;
  margin-top: 6%;
}
.comment-edit-menu {
  position: absolute;
  background-color: white;
  color: #000000;
  padding: 10px 12px;

  height: 9vh;
  width: 6vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 4%;
  z-index: 1;
  right: 1px;
  border-radius: 5px;
}

.edit-option {
  margin-top: 11%;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 10%;
  cursor: pointer;
}

.edit-option img {
  width: 20px;
}
.prompt-text {
  text-wrap: wrap;
}

@media (min-width: 768px) and (max-width: 1899px) {
  /* Your iPad specific styles here */
  .contact{
    gap:3rem
  }
  .left-form-image {
    width: 50%;
  }
  .left-form-image img {
    width: 100%;
  }

  /* .left-form-image {
     display: none;
   } */
}

@media (min-width: 0px) and (max-width: 780px) {
  /* Styles for mobile screens */
  body {
    font-size: 16px;
  }
  .home {
    width: 100%;
  }
  .cover {
    margin-bottom: 30vh;
  }

  .cover-text {
    left: 0;
    top: 10;

    width: 100%;
    height: 300px;
  }
  .cover-text h2 {
    font-size: 25px;
  }

  .header {
    padding: 10px;
  }
  .nav {
    padding: 3.5% 6%;
  }

  .about-us {
    background-image: url("../public/ai-generated-7881509_1280.jpg");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 100% 30%;

    margin-bottom: 0;
  }

  .about-us-container {
    margin-top: 40%;
    width: 80%;
    padding: 0 4%;
    height: 90vh;
  }

  .about-us-pics {
    width: 100%;
    margin-top: 3%;
  }
  .about-us-pic {
    margin-right: 20px;
    overflow: hidden;
  }
  .about-us-pic img {
    width: 100px;
    height: 100px;
  }
  .about-us-container h1 {
    font-size: 30px;
  }
  .about-us-container p {
    font-size: 17px;
  }

  .menu-icon {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    color: white;
    font-size: 1.8rem;
  }
  .nav-links {
    display: none;
  }

  .drop-down-menu.open {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    align-items: start;
    right: 2rem;
    top: 40px;
    background-color: #0a0a0acd;
    height: 200px;
    padding: 2% 5%;
    margin-top: 3%;
    z-index: 1;
  }

  .drop-down-menu.open li {
    padding: 0.7rem;
    display: flex;
    align-items: center;

    justify-content: center;
    color: white;
  }
  .logout-section.mobile img {
    /* color:red */
    width: 17px;
    height: 20px;
  }

  .nav-link {
    color: white;
    font-size: 16px;
  }

  .popup {
    height: 70vh;
    width: 60vw;
    left: 20%;
  }
  .signup-btns {
    width: 100%;
    font-size: 17px;
  }

  #login,
  #sign-up {
    height: 30px;
    font-size: 14px;
  }

  .filter-tabs {
    width: 90%;
    height: 4vh;
    margin-top: 0;
    margin-bottom: 15%;
  }

  .filter-text {
    font-size: 12px;
  }

  .prompt-section {
    width: 95%;
    margin: 0;
    padding: 0;
  }
  .prompt-section textarea {
    height: 5vh;
  }
  .imagine-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  .image-section {
    width: 100%;
    margin: 0;
    padding: 0;
    margin-top: 30px;
  }
  .prompt-section h1 {
    text-wrap: wrap;
  }
  .contact {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 100vh;
    border: none;
    margin: 50% 0;
    gap: 10%;
  }
  .form {
    width: 80%;
    padding-bottom: 10%;
  }
  .left-form-image {
    display: none;
  }

  .left-form-image img {
    width: 100%;
    display: none;
    align-items: center;
    justify-content: center;
  }

  blockquote {
    width: 90%;

    font-size: 16px;
    text-align: center;
    padding: 0;
    text-wrap: wrap;
  }

  blockquote:before {
    font-size: 60px; /* Reduce quote symbol size on smaller screens */
    left: -10px; /* Adjust quote symbol position on smaller screens */
    top: -40px;
  }
  .artwork-detail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .artwork-detail-img {
    height: auto;
    width: auto;
    margin: 0;
    width: 100%;
  }

  .artwork-info {
    margin-top: 15vh;
  }
  .carousel {
    /* height: 90vh; */
  }
  .slide {
    height: 35vh;
    width: 100%;
  }
  #logo {
    padding-left: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
  }

  .profile-tabs {
    width: 80%;
    font-size: 10px;
  }
  .profile-tab img {
    width: 27px;
    height: 27px;
  }

  .active-tab {
    border-bottom: 7px solid #50d5ff;
    padding: 0 5%;
  }

  .activity {
    width: 80%;
  }

  .activty-item {
    display: flex;
    flex-direction: column;
    align-items: start;
    font-size: 13px;
    margin-bottom: 70%;

    border-radius: 10px 10px 0 0;

    border: 1px solid rgb(99, 99, 99);
  }

  #activity-image {
    width: 100%;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
  }

  .comment-detail {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 0;
    white-space: none;
    text-wrap: nowrap;

    padding-left: 3%;
    width: 93%;
  }
  .icon-title {
    display: flex;
    align-items: center;
    border-radius: 14px;
  }
}
